<%- include('../layout/_header');%>

    <!-- 电影列表 start-->
    <div class="container">
        <h2 class="page-header">电影列表</h2>
        <div class="row">
            <% for(let i=0;i<movies.length;i++){%>
            <div class="col-lg-3">
              <div class="thumbnail">
                <a target="_blank" href="/movie/<%= movies[i].id %>.html"></a>
                    <img src="holder.js/100px160?bg=<%= uniqolor(movies[i].name).color %>&text=<%= movies[i].name %>" alt="...">
                </a>
                <div class="caption">
                  <h4><a  target = "_blank" href="/movie/<%= movies[i].id %>.html"><%= movies[i].name.substr(0,13) %></a></h4>
                  <p>
                    <% if (movies[i].tags.length>0){%>
    
                    <% for(let j=0;j<movies[i].tags.length;j++){%>
                    <span class="label label-default"><%= movies[i].tags[j] %></span>
                    <% } %>
                    <% }else{ %>
                        <span class="label label-default v-hidden"> </span>
                    <% } %>
                  </p>
                </div>
              </div>
            </div>
            <% } %>
          </div>
    </div>
    <!-- 电影列表 end-->
<%- include('../layout/_footer')%>